@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-navy: #12293F;
  --color-royal: #007AA4;
  --color-cyan: #00C2F3;
  --color-cyan-tint: #D9F1FD;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #12293F;
}
